<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>项目资源管理系统</title>
		<meta
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
			name="viewport">
		<script type="text/javascript">
			var ROOT = "[[${#httpServletRequest.getContextPath()}]]";
		</script>
		<link rel="stylesheet" th:href="@{/ui/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/ui/dist/css/AdminLTE.min.css}">
		<link rel="stylesheet" th:href="@{/ui/plugins/iCheck/square/blue.css}">
		<link rel="stylesheet" th:href="@{/ui/plugins/toast/jquery.toast.min.css}">
		
		<script type="text/javascript" th:src="@{/ui/plugins/jQuery/jQuery-2.2.0.min.js}"></script>
		<script type="text/javascript" th:src="@{/ui/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/ui/plugins/iCheck/icheck.min.js}"></script>
		<script type="text/javascript" th:src="@{/ui/dist/self/js/httpservice.js}"></script>
		<script type="text/javascript" th:src="@{/ui/plugins/jquery-validation/jquery.validate.js}"></script>
		<script type="text/javascript" th:src="@{/ui/plugins/jquery-validation/additional-methods.js}"></script>
		<script type="text/javascript" th:src="@{/ui/plugins/toast/alertTool.js}"></script>
		<script type="text/javascript" th:src="@{/ui/plugins/toast/jquery.toast.min.js}"></script>
	</head>
	
	<body class="hold-transition login-page">
		<div class="login-box">
			<div class="login-logo">
				<b>找回密码</b>
			</div>
	
			<div class="login-box-body">
				<!--<p class="login-box-msg">Sign in to start your session</p>-->
	
				<form id="retrievePasswordForm" method="post" role="form">
					<div class="form-group has-feedback">
						<input type="text" name="accountName" class="form-control" placeholder="账号名称"
							style="font-size: 10px;">
					</div>
	
					<div class="row" style="margin-top:60px;">
						<div class="col-xs-12">
							<button type="submit" class="btn btn-primary btn-block btn-flat">提交</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>

</html>

<script type="text/javascript">
	var loginForm = $("#retrievePasswordForm");

	$(function() {
		$('input').iCheck({
			checkboxClass : 'icheckbox_square-blue',
			radioClass : 'iradio_square-blue',
			increaseArea : '20%' // optional
		});

		loginForm.validate({
			rules : {
				'accountName' : {
					required : true,
					maxlength : 255
				}
			},
			submitHandler : function(form) {
				var userLoginForm = {
					endpoint : "/sysuser/retrievePassword",
					formObj : loginForm,
					success : function(data) {
						alertTool.success("请到邮箱修改密码");
					},
					failure : function(data) {
						alertTool.error(data);
					}
				};

				httpservice.ajaxEnt.submitForm(userLoginForm);
			}
		});
	});
</script>
